src/main/mule/titenicapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="83030644-8d3e-440a-b2b5-7e29a9a8ede8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="titenicapiFlow" doc:id="47c377da-f66d-4f3c-ae6b-e53d77d204ee" >
		<http:listener doc:name="Listener" doc:id="43332df2-798a-45b4-a7e5-dc086d641d5c" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="7bea55ab-d46c-4c6e-97d2-690f09d596e1" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="87bb481e-a700-4d2a-aed7-7116a5430378" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"name": "xyz",
	"age": 25
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
